---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Asad Moulvi</div>
      <div class="text-3xl py-3 font-bold"></div>
      <div class="py-2">
        <text class="text-lg">
          On this website, you will find examples of my work that showcase my ability to translate data into meaningful insights, as well as my technical skills in data analysis and modeling. Whether you are a potential employer, a fellow data scientist, or just someone interested in the field, I hope that my portfolio provides you with insight into the value that I can bring to your organization!
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
        <!-- <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="btn btn-outline ml-5"> Get This template</a> -->
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="100+ USMLE STEP 1 Exam Questions by GPT3 "
      img="/Screenshot 2023-03-22 at 5.32.25 PM.png"
      desc="I used Flutter to test if GPT-3 can replicate past USMLE Step 1 questions, showcasing my skills while exploring AI-generated questions in medical education."
      url="/blog/post1"
      badge="NEW"
      tag = 'Flutter'
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Medical transcription plus a QA Bot using ChatGPT API"
    img="/post_img.webp"
    desc="Overall, the project aimed to streamline the process of transcribing and analyzing patient encounters by utilizing advanced AI technologies like the Whisper API, Pinecone, and GPT-3."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Generate Flashcards on any piece of text"
    img="/post_img.webp"
    desc="The project aimed to create a user-friendly app for generating personalized flashcards from uploaded PDF files. Using GPT-3 and Flutter, the app produced accurate and high-quality flashcards that could be quickly exported into ANKI. "
    url="#"
  />

        <div class="mt-8">
        <a class="btn" href="/projects" target="_blank"> See More!</a>
        <!-- <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="btn btn-outline ml-5"> Get This template</a> -->
      </div>


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10"></div>
    </div>







  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">

    <TimeLineElement
      title="University of Nottingham (Bachelor of Science, Physics)"
      subtitle="Bachelor of Science, Physics from September 2017 to June 2020"
    />

    <TimeLineElement
      title="University of Texas at Dallas"
      subtitle="Master of Science in Business Analytics from August 2023"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Analyst at DataQ Health"
      subtitle="From Januray 2022 , Dallas, Texas, US (Remote)"
      
      desc1='Took over managing the Azure Data Factory from an outsider contractor and by doing so I saved the company $20,000 annually'
      desc2 = 'Built and deployed an ETL pipeline that converts raw txt files into the data model, the pipeline was written in Python using numpy and Pandas deployed on an AWS Lamda service'
      desc3 = 'Wrote SQL Stored procedures to generate insights from the data warehouse such as Hospital admissions, Emergency room visits, Costs and 65 other datapoints.'
      desc4 = 'Used those SQL SPs to generate APIs that were used to display this information on a Population Health Management tool, the APIs were written in Python using FastAPI'
      desc5="Created and managed a data warehouse in SnowFlake, consisting of multiple TB of medical claims data"
    />
    <TimeLineElement
      title="Marketing Data Analyst at The Health Bank"
      subtitle="From September 2020 to September 2021 at Dubai, United Arab Emirates (Remote)"
      desc1 = "Consolated data from Google Ads, Google Analytics and Zoho CRM on to Power BI that allowed for the organization's entire data to be visualized"
      decs2 ="Designed Power BI dashboards to keep track of sales and marketing KPIs on an daily basis"
      desc3 ="Forecasted monthly sales amount using Power BI for over 9 services"


    />
    <TimeLineElement
      title="Part Time Ecommerce Data Analyst at Neoncrate (University of Illinois Start-Up Accelerator)"
      subtitle="From August 2019 to September 2020 at Champaign, Illinois, US (Remote)"
      desc1 ='Integrated Mixpanel on the Shopify Store to monitor user behavior on the site, segmented users to identify the ones who were most likely to purchase the product'
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/21ffb828-fd97-440e-9a3f-b0c43086c7b3?source=linked_in_profile" target="_blank"> Hands On Essentials - Data Warehouse (SnowFlake)</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/4ZY2C3HH9RL3" target="_blank"> Professional Certificate from DeepLearning.AI as a TensorFlow Developer</a>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (Native)</li>
    <li>Urdu (Native)</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Tensorflow</li>
    <li>Keras</li>
    <li>Matplotlib</li>
    <li>BeautifulSoup</li>
    <li>Dask</li>
    <li>Pyspark</li>
    <li>Flutter</li>
    <li>R</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  
  </ul>


</BaseLayout>
