---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there </div>
      <div class="text-5xl font-bold">I'm Asad Moulvi</div>
      <div class="text-3xl py-3 font-bold">Data Scientist and AI enthusiast</div>
      <div class="py-2">
        <text class="text-lg">
          On this website, you will find examples of my work that showcase my ability to translate data into meaningful insights, as well as my technical skills in data analysis and modeling. Whether you are a potential employer, a fellow data scientist, or just someone interested in the field, I hope that my portfolio provides you with insight into the value that I can bring to your organization!
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
        <!-- <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="btn btn-outline ml-5"> Get This template</a> -->
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="100+ USMLE STEP 1 Exam Questions by GPT3 "
      img="/post_img.webp"
      desc="I used Flutter to test if GPT-3 can replicate past USMLE Step 1 questions, showcasing my skills while exploring AI-generated questions in medical education."
      url="#"
      badge="NEW"
      tag = 'Flutter'
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Medical transcription plus a QA Bot using ChatGPT API"
    img="/post_img.webp"
    desc="Overall, the project aimed to streamline the process of transcribing and analyzing patient encounters by utilizing advanced AI technologies like the Whisper API, Pinecone, and GPT-3."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Generate Flashcards on any piece of text"
    img="/post_img.webp"
    desc="The project aimed to create a user-friendly app for generating personalized flashcards from uploaded PDF files. Using GPT-3 and Flutter, the app produced accurate and high-quality flashcards that could be quickly exported into ANKI. "
    url="#"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10"></div>
    </div>

     <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in Informatics Science with 6 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technician Information-Technology"
      subtitle="2006 to 2009 at Osvaldo Herrera Polytechnic institute, Habana, Cuba"
    />
    <TimeLineElement
      title="Informatics Science Engineer"
      subtitle="2010 to 2015 at University of Informatics Science (UCI), Habana, Cuba"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UI Designer and Developer at Integral Access Control System (Thesis)"
      subtitle="From 2015 at XETID, Habana, Cuba"
      desc="System multiplatform that includes the steps of a company's personnel, the structure and composition thereof, as well as a powerful designer of credentials and module of control of access. Outspread at the MINFAR and another entities of the country. Technologies: C++, Qt Framework, Subversi贸n, Visual Paradigm, PostgreSQL, Jmeter"
    />
    <TimeLineElement
      title="Web Developer at Integral Oil Drilling System 2.0"
      subtitle="From 2015 to 2016 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervenci贸n of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.7 , Subversi贸n, PostgreSQL, HigthChart, Ireport, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Full Stack Dev, Software Architect and Project Leader at Integral Oil Drilling System 3.0"
      subtitle="From 2016 to 2017 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervenci贸n of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.8 , Gitlab, PostgreSQL, HigthChart, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Business Intelligence Analyst, at Primary Information System"
      subtitle="From 2017 to 2018 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of primary information at a company. personnel's steps, control of access, impression of credentials, steps of locales, structure and composition. Technologies: Php,Symfony 3.3 , Gitlab, PostgreSQL, , Boostrap 3, JQuery, HTML,CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Ruby on Rails</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Yii2</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>KdenLive</li>
  </ul>


</BaseLayout>
